.club {
  border-radius: 10px;
  border: none;
  
}
#club-content {
  border: none;
  padding: 2px 16px;
}

#crumbs{
  background: #e7a859;

  }

#cardinal{
  background: #c1121f;

}

#pumpkin{
  background: #f39005;
     
} 
#night{
  background: #111d4a;
   
}

#pacific{
  background: #669bbc;
}