.club {
  border-radius: 5px;
  border: none;
}
#club-content {
  background: var(--bgmain);
  border: none;
  padding: 2px 16px;
}

#crumbs{
    box-shadow: 0px 10px #e7a859;

  }

#cardinal{
  box-shadow: 0px 10px #c1121f;

}

#pumpkin{
    box-shadow: 0px 10px #f39005;
     
} 
#night{
    box-shadow: 0px 10px #111d4a;
   
}

#pacific{
  box-shadow: 0px 10px #669bbc;
}