.tag {
    width: fit-content;
    border-radius: 9999px;
    font-size: 13px !important;
    color: ivory;
    padding: 5px 10px 5px 10px;
    font-weight: 600 !important;
  }
  .exclusive {
    background: rgb(121, 69, 9);
    color: rgba(255, 235, 213, 0.829);
    border: 1px solid rgb(212, 126, 28);
  }
  .self {
    background: rgba(235, 11, 67, 0.4);
    color: rgb(228, 173, 181);
    border: 1px solid rgb(221, 25, 25);
  }